files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDETCCAfkCFDnlVb+RLmtIE2ls7bBJzNV2iT15MA0GCSqGSIb3DQEBCwUAMEUx
      CzAJBgNVBAYTAkFVMRMwEQYDVQQIDApTb21lLVN0YXRlMSEwHwYDVQQKDBhJbnRl
      cm5ldCBXaWRnaXRzIFB0eSBMdGQwHhcNMjExMTI5MDE0MjA4WhcNMjIxMTI5MDE0
      MjA4WjBFMQswCQYDVQQGEwJBVTETMBEGA1UECAwKU29tZS1TdGF0ZTEhMB8GA1UE
      CgwYSW50ZXJuZXQgV2lkZ2l0cyBQdHkgTHRkMIIBIjANBgkqhkiG9w0BAQEFAAOC
      AQ8AMIIBCgKCAQEA0UQAVf2bMbqu0nStFn4M4QCo59kpmMEfIcPlh9dUb9wTiDIZ
      rZRITXGkG130IsFMqffy2Pt+/YGKoyf8RYJk2JXNdwXa+h5mqwZY+C7gMH9rxiMo
      oZ93J9Rax2teOrzyaf3k3HUMbcTASu8OnhflouyssM3JaMmBXfPR50HGjWW+Jhj5
      CeY0yB1m+DW1oL/WZS4VEDYkfWqQj2aZqSJNIffa2IFo/MaZ4IGfy7KElc45Yr4D
      gBIvqeGGAMSfcblr6Qt4Cm8Q7G+GZXyuXOujIb3vukeJpHFfkkWz6UNuSn9HOWwW
      UTEv3c8c7xuWDQH+3gt0/0UmaAwwxpzfy7gEpQIDAQABMA0GCSqGSIb3DQEBCwUA
      A4IBAQBoWJ5DPaOpFKtIApKMo8v0wM6hPmiuMW5V5rhH9oN9RqOXnP2V+pEC6+iV
      VK4tiKYM7d0OL7XtKc/FR0n4GQ8m//J5dcMex9OcyMESz+cLS2m0zimXW3UsETqr
      rX55CtXZRSv/r1H/2/Irjxh2k6qdJOlsuIG58ef3OVTDyHw67AjH1KA8N18Y39xi
      IYZJDh7rlS+M9VbS97aduFoDbhBHzcPMIeldhGOEJF9/9T2sfP4D1tS7vMp1/AwO
      OQAtMWfu1k1rUmDk0A56FMhNLI08W9SdKhnq6V0GV9b0xtRVAD4ErGJ5woPZyvjN
      c6mPQPhGAnu0OwDXoQ4iBAK32hwc
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEA0UQAVf2bMbqu0nStFn4M4QCo59kpmMEfIcPlh9dUb9wTiDIZ
      rZRITXGkG130IsFMqffy2Pt+/YGKoyf8RYJk2JXNdwXa+h5mqwZY+C7gMH9rxiMo
      oZ93J9Rax2teOrzyaf3k3HUMbcTASu8OnhflouyssM3JaMmBXfPR50HGjWW+Jhj5
      CeY0yB1m+DW1oL/WZS4VEDYkfWqQj2aZqSJNIffa2IFo/MaZ4IGfy7KElc45Yr4D
      gBIvqeGGAMSfcblr6Qt4Cm8Q7G+GZXyuXOujIb3vukeJpHFfkkWz6UNuSn9HOWwW
      UTEv3c8c7xuWDQH+3gt0/0UmaAwwxpzfy7gEpQIDAQABAoIBAQCgjucfEvy+8/fs
      O18OMdpZzDLL6F+09v+W3YG/buQ3CwjlZ2MyPeIXoUiDQtvsypiylC38c0Hk6T5g
      nm49OqV7U7yYRKLVYvvs3mrmyLh0HV+oXxNupjY7FgAsn2Fl+dCYqBevWhMWKW5M
      UAzMGZO0JJj+8nVE885RMqBrKZlYpEM7decIH/qvQhVFlk/Nku4G16oIJaO9/3Tg
      S2hXy93yhfH5G1jsIm0iQiiGUZWHPhJ3hNQy9DTZ0s8844XqM6vMfh4M3rhXbJLI
      F0pgti8Ct8BhCw7VInAdIaEHqZEmRcS8/xecU9xh1FYN77WTSSp0Wrt5fFR2hFUM
      KR2YGQ8FAoGBAOvIChxwPGpnUfdjoqk3WiHaP71RwhrS3RXUIFj267dprJ44ldhO
      e0bc1O2hPxdEQ0GFCdMpAqjn4dGLQAoq9R0KZvG/+KgtOS8JkLEGqJoI/7eL8Mw7
      jwophEZ+hS7yc8ThoVcD/xZ8UcrZQK2L8ptwcvbZC7N1bLV1c6emv05vAoGBAOM1
      4LPZq2fJPyAOyQnbRJ/wmTQZ/pMUQTq5+Doh8CzRtFy1hTtyZleBolOJ5Q7VBlLx
      vcL+JBxto8CzJdzVnL6W/WIiIu2OCCh3RCa31N+4mjLnCidhuC1npaJBwtxq/qiw
      4N2JM/1MpxrF+xEOMbL+3dc1Uh22QLTZmUxCM6grAoGAZlm60eeCwmnBchOlS7GE
      hcd4/dTc3soEQPKJbDUb082iqjhEC9bdusAoClOB0LbIP0viHPDjf7DRHSZGkWNe
      bdHTKEQ+S7r95MZRMheC3wLjBqlPyUhdanrlObi4Vc3XpXKQl/ZbKEalNtoiMnPa
      x9EDhtZnNurVWtv2baN7zi8CgYEAlO2CzMA3Xr8FlnC6i7BiqeddtE35lNRo8SJm
      t0v5jpch/saofs+8j00UZmdzcaZmD8YOmRpV9yBSfoOupLKLnE2B5mnztPwtEsEi
      NbK3YLEyuXzBJhEiVPikE9fA7xNeupm9utgs8LHmsmDk8Uf5gZcXN/HmUj1c6m3a
      0qZuD6MCgYEArQXj/5SK6fA3Dx/CrfeV9gFJYABkAQ6RY9x7A7EFjFEQFm3TObMI
      953RlphPMP2RXQQPTal+jIA6EDH43+nYqv4Po9h9gNgd31Khpkg4j0YZ21mqwSie
      IVKqAyfORBjXEvylXvNmv/29XqHVjbRyk8fbtuRFWehr2ON8jeY9CEk=
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart
